* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  box-sizing: border-box;
}
.nav_justification {
  
  /* width: 100vw; */
  background-color: #2871cc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}


.navigation_ul ul li a {
  color: white;
}
.navigation_ul ul li a:hover {
  color: rgba(207, 204, 204, 0.835);
}
.signup {
  width: 117px;
  height: 40px;
  background-color: #5896e2;
  border: none;
  border-radius: 2px;
  margin-right: 8px;
  font-weight: 500;
}
.signin {
  width: 117px;
  height: 40px;
  background-color: #55c595;
  border: none;
  border-radius: 2px;
  font-weight: 500;
}
.nav_justification img{
  display: none;
}



.first-main{
  /* width: 100vw; */
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #016cf0d0,#0173ffd8),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
}
.first_box {
  width: 70vw;
 
  height: 70vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left_box {
  height: 50vh;
  width: 40vw;
}
.left_box h1 {
  text-transform: uppercase;
  color: whitesmoke;
}
.left_box p {
  color: whitesmoke;
  margin-top: 20px;
}
.left_btns {
  margin-top: 30px;
}
.button_download {
  width: 117px;
  height: 40px;
  background-color: #5896e2;
  border: none;
  border-radius: 2px;
  margin-right: 8px;
  font-weight: 500;
  color: white;
}
.button_read {
  width: 117px;
  height: 40px;
  background-color: #55c595;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  color: white;
}
.first_box img {
  position: relative;
  height: 64vh;
  top: 23px;
}
.white-box{
  height: 70vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-mid{
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
 
}
.first-box{
  height: 35vh;
  width: 100%;
  width: auto;
 
  display: flex;
  justify-content: center;
  position: relative;

}
.img-box1, .img-box2{
  width: 30vw;
}
.content-one{
  margin-top: 20px;
 
  padding: 10px;
  width: 40vw;
}
.content-one h3{
  color: #55c595;
}
.second-box{
    height: 35vh;
  width: 100%;
  width: auto;
  
  display: flex;
  justify-content: center;
  position: relative;
}
.content-two{
    margin-top: 100px;
 
  padding: 10px;
  width: 40vw;
}
.content-two h3{
  color: #2871cc;
  margin-top: 30px;
}
.img-box1 img{
  position: absolute;
  height: 400px;
  top: 20px;
  z-index: 2;
}
.img-box2 img{
position: absolute;
height: 400px;
top: -85px;
right: 10px;
}


.mobile-box{
  /* width: 100vw; */
  height: 70vh;

  display: flex;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
}
.first-mobile{
  width: 50vw;
  height: 70vh;
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.815)),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
 
}
.second-mobile{
  width: 50vw;
  height: 70vh;
  position: relative;
  
   background-image:  linear-gradient(to bottom, #00408fed, #348fffda),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
 
}
.first-mobile-right, .first-mobile-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: auto;
  margin-top: 50px;
  color: white;
  text-align: center;
  position: relative;
}
.first-mobile img{
  height: 40vh;
  z-index: 5;
  position: absolute;
  left: 15%;

}
.leftmob-img img{
  position: absolute;
  left: 15%;
  background-color: rgb(255, 239, 187);
}
.mobile-box{
  position: relative;
}

.first-mobile img{
  position: absolute;
  bottom: -10px;
 
}
.second-mobile img{
  position: absolute;
  bottom: -10px;
  left: 20vw;
  height: 40vh;
}





.tool-box{
  height: 30vh;
  /* width: 100vw; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool-boxin{
width: 70vw;
height: 100%;

display: flex;
}
.tool-one{
width: 17vw;

height: 100%;
background-color: rgb(255, 255, 255);
margin: 1px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.tool-one P{
  padding-left: 10px;
  text-align: center;
  margin-top: 10px;
  color: #5f5f5f;
}
.tool-one h5{
  padding-top: 10px;
}
.circle-box{
  
  
  height: 14vh;
  width: 7vw;
  border-radius: 50%;
  background-color: #3cad82;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-box img{
  height: 4vh;
 
}


.cara-box{
  height: 40vh;
  /* width: 100vw; */
  
   background-image:  linear-gradient(to bottom, #2b9768e5, #308f66da),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.cara-in{
  width: 70vw;
  height: 40vh;
  
}
.cara-down{
    height: 60vh;
  /* width: 100vw; */
  background-image:  linear-gradient(to right, #fbffe7e5, #3dc2ffda),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right-down img{
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 5vw;
  right: 25vw;
}
.down-content{
   width: 70vw;
  height: 60vh;
  
  display: flex;
}
.left-down{
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.left-down span{
  color: #098958;
}
.left-down H2{
  text-transform: uppercase;
  color: #0073ff;
  
}
.left-down button{
  width: 135px;
height: 40px;
background-color: #2871cc;
border: none;
color: white;
}
.company-box{
    height: 30vh;
  /* width: 100vw; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-comp{
   width: 70vw;
  height: 30vh;
 
  display: flex;
}
.partner-box{
  width: 25vw;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  
}
.partner-box h5{
  color: #55c595;
  font-size: 30px;
  font-weight: 700;
}
.partner-box p{
  color: rgb(56, 56, 56);
}
.right-company{
  width: 45vw;
  height: 100%;
 
  display: flex;
  align-items: center;
}
.right-company img:nth-child(2){
  height: 5vh;
  
  width: auto;
}
.right-company img{
  margin: 10px;
  width: auto;
}





.footer-boxx{
  height: 45vh;
  /* width: 100vw; */
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.footer-ff{
   width: 70vw;
  height: 42vh;
  background-color: rgb(26, 26, 26);
  display: flex;
 
}

.copy-rightt{
  height: 3vh;
  width: 96vw;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: helvetica;
  color: rgb(194, 193, 193);
  
}

.foot1{
  height: 42vh;
  width: 23vw;
  /* width: 100vw; */
  
  /* margin-left: 2px; */
 
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  font-family: calibri;
}
.leftfoot-one{
  color: rgb(255, 255, 255);
}
.leftfoot-one h6{
  color: #55c595;
  font-family: helvetica;
 
}
.leftfoot-three{
  display: flex;
  margin-top: 30px;

}
.leftfoot-three p{
  color: #c0c0c0;
}
.leftfoot-two{
  margin-top: 15px;
  margin-left: 10px;
}
.leftfoot-three img{
  padding: 4px;
  width: 25px;
  height: 20px;
 

}


.midfoot-two{
display: flex;
margin-top: 30px;
}
.midfoot-one h1{
  color: white;
}
.midfoot-one h6{
color:#55c595;
font-family: helvetica;
}
.midfoot-two img{
  width: 20px;
  height: 20px;
  padding: 4px;
}
.midfoot-three{
  display: flex;
  margin-top: 30px;
}
.midfoot-three img{
  width: 20px;
  height: 20px;
  padding: 4px;
}


.lastfoot-two{
  margin-top: 25px;
}
.lastfoot-two input{
  background-color: #2a2a2a93;
  border: none;
  height: 40px;
}
.lastfoot-two button{
  height: 40px;
  width: 100px;
  background-color: #55c595;
  border: none;
  color: white;
  text-transform: uppercase;
}
.lastfoot-three{
  margin-top: 25px;
}
.lastfoot-one h1{
color: white;

}
.lastfoot-one h6{
color:#55c595 ;
font-family: helvetica
}

.lastfoot-three{
  color: rgb(187, 187, 187);
}

.midfoot-three{
  color: rgb(194, 192, 192);
}
.midfoot-two{
  color: rgb(182, 182, 182);
}
.carousel-item{
  height: 40vh;
  width: 100%;
}
.carousel-item img{
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 10vh;
  height: 100px;
  width: 100px;
}
.my_cara{
  width: 100px;
  position: relative;
  left: 33vw;
}

/* inner */
.heading_first {
     
     height: 20vh;
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
 }

 .heading_first h1 {
     text-transform: uppercase;
 
     font-size: 1.5rem;
 }


 .main_heading_first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
     }

   .second_container {
       width: 80%;
       height: 60vh;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       top: -5vh;
   }
   .first_content {
          position: relative;
          left: 5vw;
      }
      .first_content h1 {
        padding-bottom: 40px;
      }
      .third_container {
          
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
/* email */
.logo_box {
            width: 100%;
            height: 20vh;
           
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .black {
            height: 60vh;
            background-image: -webkit-radial-gradient(60% 50%,
                    circle closest-corner,
                    white,
                    rgba(0, 0, 0, 0.541),
                    rgba(0, 0, 0, 0.877),
                    black);
          
            display: flex;
        }

        .black_left {
           
            width: 50%;
            height: 60vh;
            padding-left: 2%;
            padding-top: 4%;
        }

        .black_left span {
            line-height: 35px;
            color: #55c595;
            font-weight: 700;
            font-family: "Poppins";
        }

        .black_left h1 {
            color: #2871cc;
        }

        .black_left p {
            color: white;
        }

        .black_left button {
            background-color: #2871cc;
            border: none;
            border-radius: 3px;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
        }

        .lekha {
            padding: 3%;
        }

        .lekha_inside {
            display: flex;
        
            align-items: center;
        }

        .lekha_inside i {
            color: orange;
            font-size: 1.4rem;
        }

        .nothing_div {
            position: relative;
            left: 1%;
        }

        .lekha button {
            position: relative;
            left: 40%;
            background-color: #2871cc;
            color: white;
            font-weight: 600;
            border-radius: 3px;
        }




@media only screen and (max-width: 800px) {
.first_box img{
  width: 40vw;
  height: 40vh;
  /* top: 1px; */
   
}
.first_box{
  justify-content: space-between;
  width: 90vw;
  /* background-color: #098958; */
}
.main_heading_top{
  height: 30vh;
  /* background-color: turquoise; */
}
.first_content h1{
  width: 95vw;
}
.second_container{
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  /* background-color: #8a1c1c; */
}
.first-box img{
height: 300px;
}
.second-box img{
  height: 300px;
}
.down-content{
  /* background-color: #aecf18; */
  position: relative;
  /* flex-direction: row; */
}

.main_heading_first{
  /* background-color: #098958; */
}
.third_container{
  /* background-color: #2871cc; */
  /* text-align: center; */
}
.third_content{
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.down-content img{
/* right: 1px; */
position: absolute;
/* right: 10px; */
height: 30vh;
top: 15vh;
left: 50vw;
}
.second_container{
  height: 65vh;
  text-align: center;
  /* background-color: #098958; */
}
.second_container img{
  width: 70vw;
}
.first_content p{
  width: 80vw;
}
.third_container{
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: yellow; */
}
.third_container img{
  width: 80vw;
}
.third_container p{
  width: 80vw;
}
.small-comp{
  flex-direction: column;
}
.right-company img:nth-child(1){
  width: 15vw;
}

}



































@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue;
  } */
.first-main{
  position: relative;
  box-sizing: border-box;
}
.first_box {
  width: 100vw;
}
.first_box img{
display: none;
}
.left_box{
  width: 90vw;
}
.white-mid{
  width: 100vw;
  height: 140vh;
}
.white-box{
  height: 140vh;
  
  position: relative;
}
.first-box{
  flex-direction: column;
  position: relative;
 
  top: 0;
  
  height: 70vh;
}
.first-box img{
  height: 25vh;
  position: absolute;
  left: 30vw;
  top: 1px;
  
}

.content-one{
  width: 95vw;
  position: absolute;
  bottom: 0;
 
}
.second-box{
 
  
  height: 70vh;
  position: relative;
}

.img-box2 img{
  height: 25vh;
  position: absolute;
  top: 5px;
  left: 30vw;
}
.content-two{
  width: 90vw;
  position: absolute;
  bottom: 0;
}
.mobile-box{
  width: 100vw;
  height: 170vh;
  flex-direction: column;
  position: relative;

}
.first-mobile{
  width: 100vw;
  height: 90vh;
  position: relative;
 
}
.first-mobile-left{
  width: 100vw;
  height: 50vh;

  position: absolute;
  top: -20px;
}
.first-mobile img{
  left: 35vw;
}
.second-mobile{
  width: 100vw;
  height: 100vh;
 
  position: relative;
  top: -40px;

 
}
.first-mobile-right{
  width: 100vw;
  height: 50vh;
  
}
.second-mobile img{
  left: 35vw;
}
section{
  position: relative;
}

.tool-box{
  height: 190vh;
  
  width: 100vw;
  position: relative;
  display: flex;

}
.tool-boxin{
 
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.tool-one{
  width: 90vw;

}
.circle-box{
  width: 30vw;
  height: 20vh;
  margin-top: 5px;
 
}


.cara-down{
  height: 100vh;
}
.down-content{
  width: 100vw;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.down-content img{
  position: absolute;
  left: 30vw;
  bottom: 0;
  top: 55vh;
  height: 250px;
}
.left-down{
  width: 100vw;
  height: 44vh;

  padding: 10px;
  position: relative;
 
}
.left-down button{
  position: absolute;
 
  bottom: 5px;
  right: 10px;
}


.company-box{
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: tomato;
  box-sizing: border-box;
}
.small-comp{
  width: 100vw;
  height: 80vh;
 
  flex-direction: column;
  position: relative;
}
.partner-box{
  width: 100vw;
}
.right-company{
 
  flex-direction: column;
}
.right-company{
  width: 100vw;
}


.footer-boxx{
  height: 133vh;
}
.footer-ff{
  height: 130vh;
  /* background-color: #098958; */
  width: 100vw;
  flex-direction: column;
  
}


.foot1{
  width: 100vw;
 
}
.leftfoot-one{
  width: 100vw;
 
}
.copy-rightt{
  height: 40px;
 
}


.nav_justification img{
  display: flex;
  border-radius: 5px;
}

.nav_justification{
  height: 65px;

  top: 0;
}
.navigation_ul{ 
  height: 60vh;
  z-index: 5;
  position: absolute;
  top: 65px;
  background-color: rgb(8, 105, 231);
 
}
.justify-content-end{
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  /* background-color: brown; */
  justify-content: center;
 align-items: center;
 display: none;
 
}
.justify-content-end li{
background-color: rgb(54, 73, 64);
width: 100%;
display: flex;
justify-content: center;
/* margin: 1px; */
margin-top: 1px;
align-items: center;

top: 100px;
}
.btn-primary{
  /* position: absolute; */
  left: 5px;
  margin: 2px;
}
.btn-success{

  margin: 2px;
  /* margin-left: 60px; */
}
#nav_btn{
  position: absolute;
  right: 10px;
}
.my_cara{
  width: 100px;
  position: relative;
  left: 21vw;
}

.main_heading_top{
  height: 90vh;
  
}
.first_content h1{
  width: 90vw;
  /* background-color: springgreen; */
}
.second_container{
  /* width: 100vw; */
  height: 100vh;
  flex-direction: column;
  /* background-color: violet; */
 
}
.second_container img{
  width: 90vw;
  padding: 10px;
  box-sizing: border-box;
}
.third_container{
  flex-direction: column;
  width: 100vw;
  /* background-color: springgreen; */
 
}
.third_container img{
  width: 90vw;
  box-sizing: border-box;
}


.list-box{
  display: flex;
 
}








.black{
  flex-direction: column;
  height: 90vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87),rgba(39, 38, 38, 0.801)),url(photo/gray-white-triangle-pattern-wallpaper-preview.jpg);
}

.black img{
  height: 30vh;
  width: 30vw;
  position: absolute;
  left: 35vw;
  bottom: 0;
}
.black_left{
  width: 100vw;
}




}




